@import "font";
@import "variables";

@media (any-hover: hover) {
  .header .menu ul li a:hover {
    color: #ed4c5b;
  }
}

* {
  outline:    none;
  box-sizing: border-box;
  transition: .2s ease-in-out;
}

html, body {
  margin:           0;
  padding:          0;
  font-family:      Roboto, sans-serif;
  background-color: #ffded7;
}

section {
  position: relative;
}

a {
  text-decoration: none;
  cursor:          pointer;
}

.container {
  width:    92%;
  margin:   0 auto;
  position: relative;
}

.btn-registration {
  width:           12.9243rem;
  height:          3.176rem;
  background:      $mainColor;
  border-radius:   6.25rem;
  border:          none;
  font-size:       1.25rem;
  color:           $whiteColor;
  text-align:      center;
  display:         flex;
  align-items:     center;
  justify-content: center;
}

.background {
  position: absolute;
}

.pink-down {
  top:     0;
  left:    0;
  z-index: 0;
  width:   100%;
}

.pink-up {
  top:     4rem;
  right:   0;
  z-index: 0;
  width:   100%;
}

.header {
  position: relative;
  z-index:  5;
  .menu {
    padding:     0 1.375rem;
    max-width:   600px;
    margin-left: 0;
    ul {
      display:         flex;
      justify-content: space-around;
      padding:         0;
      margin:          0;
      li {
        list-style:  none;
        font-weight: 500;
        font-size:   0.875rem;
        text-align:  center;
        color:       $mainColor;
        a {
          text-decoration: none;
          color:           $mainColor;
          padding:         2.5rem 0.5rem;
          display:         inline-block;
          &:active {
            color:   #ed4c5b;
            opacity: .8;
          }
        }
      }
    }
  }
}

.main {
  position:       relative;
  display:        flex;
  flex-direction: column;
  .inner {
    display:        flex;
    width:          86.76923077%;
    flex-direction: column;
    h3 {
      font-weight:   bold;
      font-size:     1.5rem;
      line-height:   1.875rem;
      color:         $mainColor;
      margin-bottom: 0;
    }
    p {
      font-size:   1.125rem;
      line-height: 1.875rem;
      color:       $mainColor;
      margin-top:  0;
    }
  }
  .sevenKeys {
    display:  flex;
    position: relative;
    &__img {
      width:    55.4%;
      position: absolute;
      z-index:  0;
      right:    0;
      top:      -3rem;
    }
    &__inner {
      width:         44.6%;
      margin-bottom: 4rem;
      h1 {
        display:       inline-block;
        font-style:    normal;
        font-weight:   900;
        font-size:     1.875rem;
        line-height:   28px;
        color:         $mainColor;
        margin-top:    0;
        margin-bottom: 0;
        span {
          font-style:  normal;
          font-weight: 900;
          font-size:   40px;
          line-height: 28px;
          color:       $mainColor;
        }
      }
    }
  }
  .improvements {
    display:         flex;
    justify-content: flex-end;
    width:           100%;
    &__inner {
      width: 61.2307%;
      h3 {
        font-weight:   bold;
        font-size:     1.25rem;
        line-height:   1.25rem;
        text-align:    right;
        color:         $whiteColor;
        margin-bottom: 0;
        margin-top:    0;
      }
      p {
        text-align:  right;
        font-weight: 300;
        font-size:   0.875rem;
        line-height: 0.875rem;
        color:       $whiteColor;
        margin-top:  0;
      }
    }
  }
  .seminar {
    .seminar__inner {
      display:        flex;
      flex-direction: column;
      align-items:    center;
      .heading {
        display: flex;
        width:   100%;
        &__inner {
          width: 56.6153%;
          h2 {
            font-weight: bold;
            font-size:   1.875rem;
            line-height: 1.875rem;
            color:       $mainColor;
          }
        }
      }
      .reasons {
        display:       flex;
        margin-bottom: 1.5rem;
        width:         100%;
        &__inner {
          width:       100%;
          padding-top: 1.125rem;
          p {
            margin-top:    0;
            margin-bottom: 2.5rem;
            font-size:     1.125rem;
            line-height:   1.25rem;
            color:         $mainColor;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .btn-registration {
        margin-bottom: 3.3125rem;
      }
      .video {
        margin-bottom: 1.5625rem;
        img {
          width: 100%;
        }
      }
    }
  }
  .leading {
    display:       flex;
    width:         100%;
    margin-bottom: 10rem;
    &__inner {
      display:        flex;
      flex-direction: column;
      align-items:    center;
      width:          100%;
      h2 {
        font-weight: bold;
        font-size:   1.875rem;
        line-height: 3.6875rem;
        text-align:  center;
        color:       $mainColor;
      }
      .author {
        display:     flex;
        align-items: center;
        img {
          border-radius: 50%;
          width:         30%;
          margin-right:  1rem;
        }
        p {
          font-weight: 300;
          font-size:   1.125rem;
          line-height: 1.75rem;
          color:       $mainColor;
          span {
            display:     block;
            font-weight: normal;
            font-size:   1.25rem;
            line-height: 2.375rem;
            color:       $mainColor;
          }
        }
      }
    }
  }
  .inform {
    .inform__inner {
      display:   flex;
      flex-wrap: wrap;
      div {
        margin-bottom: 2rem;
      }
      div:nth-child(even) {
        align-items: flex-end;
        h3 {
          text-align: right;
        }
        p {
          text-align: right;
        }
      }
      h3 {
        font-weight: bold;
        font-size:   1.5rem;
        line-height: 1.875rem;
        color:       $mainColor;
        margin:      0;
      }
      p {
        font-size:   1.125rem;
        line-height: 1.5rem;
        color:       $mainColor;
        margin:      0;
      }
      .data {
        width:          100%;
        display:        flex;
        flex-direction: column;
        margin-bottom:  6.75rem;
        h3 {
          color: $whiteColor;
        }
        p {
          color: $whiteColor;
        }
        .p__inner {
          font-weight: 300;
          font-size:   1rem;
          line-height: 1.25rem;
          color:       $whiteColor;
        }
      }
      .place {
        display:        flex;
        width:          100%;
        margin-bottom:  1.3125rem;
        flex-direction: column;
        h3 {
          display:        flex;
          flex-direction: column;
        }
      }
      .organization {
        display:        flex;
        width:          100%;
        flex-direction: column;
      }
      .price {
        width:          100%;
        display:        flex;
        flex-direction: column;
      }
    }
  }
}

.footer {
  position: relative;
  width:    100%;
  padding:  0 0 8.6875rem 0;
  z-index:  5;
  &:before, &:after {
    content:         '';
    background:      url("../images/man.png") no-repeat right bottom;
    background-size: 100%;
    position:        absolute;
    z-index:         -1;
    bottom:          0;
    right:           0;
    width:           225px;
    height:          100%;
  }
  &:after {
    background:      url("../images/ellipse.png") no-repeat left bottom;
    background-size: 100%;
    width:           40%;
    max-width:       200px;
    right:           inherit;
    left:            0;
  }
  h3 {
    font-weight:   bold;
    font-size:     1.5rem;
    line-height:   1.25rem;
    text-align:    left;
    color:         $mainColor;
    margin-bottom: 0;
  }
  p {
    font-size:     1.5rem;
    line-height:   2.375rem;
    color:         $mainColor;
    margin-bottom: 0;
    margin-top:    0;
  }
  .facebook {
    font-size:            1.125rem;
    line-height:          1.875rem;
    text-decoration-line: underline;
    color:                #00A3FF;
    cursor:               pointer;
  }
  .btn-registration {
    display: none;
  }
}

@media screen and(min-width: 834px) {

  .header {
    .menu {
      margin-left: 10%;
    }
  }
  .main {
    .leading {
      &__inner {
        h2 {
          font-weight: 900;
          font-size:   3rem;
        }
        .author {
          p {
            font-size:   1.5rem;
            line-height: 2.5rem;
            span {
              font-size: 2.25rem;
            }
          }
          img {
            margin-right: 2rem;
            width:        10rem;
          }
        }
      }
    }
    .seminar {
      .seminar__inner {
        flex-direction:  row;
        flex-wrap:       wrap;
        justify-content: space-between;
        .video {
          order:         1;
          width:         50%;
          margin-bottom: 4.5rem;
        }
        .btn-registration {
          order: 2;
        }
        .heading {
          order: 3;
          &__inner {
            width: 58%;
            h2 {
              margin-top:  0;
              font-style:  normal;
              font-weight: 900;
              font-size:   3rem;
              line-height: 3.6875rem;
            }
          }
        }
        .reasons {
          order: 4;
          .reasons__inner {
            p {
              font-style:  normal;
              font-weight: normal;
              font-size:   1.5rem;
              line-height: 2.25rem;
            }
          }
        }
      }
    }
    .inform {
      .inform__inner {
        div:nth-child(even) {
          align-items: flex-start;
          h3 {
            text-align: left;
          }
          p {
            text-align: left;
          }
        }
        h3 {
          font-weight: bold;
          font-size:   2.25rem;
          line-height: 2.5rem;
          color:       $whiteColor;
        }
        p {
          font-size:   1.5rem;
          line-height: 2.5rem;
          color:       $whiteColor;
        }
        .data {
          order:         1;
          margin-bottom: 1.625rem;
          h3 {
            margin-bottom: 1.25rem;
            span {
              display: block;
            }
          }
          p {
            font-size:   1.875rem;
            line-height: 1.75rem;
            color:       $whiteColor;
          }
          .p__inner {
            font-weight: 300;
            font-size:   1.25rem;
            line-height: 2.5rem;
            color:       $whiteColor;
          }
        }
        .price {
          order:         2;
          margin-bottom: 2rem;
        }
        .place {
          width: 50%;
          order: 3;
          h3 {
            display: inline-block;
          }
          p {
            padding-right: 4.375rem;
          }
        }
        .organization {
          justify-content: center;
          align-items:     center;
          order:           4;
          width:           50%;
          h3 {
            text-align: center;
            color:      $mainColor;
          }
          p {
            font-size:   1.125rem;
            line-height: 1.875rem;
            color:       $mainColor;
          }
        }
      }
    }
  }
  .footer {
    padding: 0 0 1rem;
    .btn-registration {
      display: flex;
      &__wrapper {
        padding: 2% 20% 16%;
      }
    }
    &:before {
      width:     calc(100% / 3);
      max-width: 600px;
    }
    .contacts {
      text-align: center;
      h3 {
        text-align: center;
      }
    }
  }
}

@media screen and(min-width: 1440px) {
  .main {
    .leading {
      &__inner {
        margin-left: 36.3%;
        align-items: flex-start;
        .author {
          min-width: 51%;
          img {
            margin-right: 4rem;
            width:        15rem;
          }
        }
      }
    }
    .seminar {
      margin-bottom: 4.9375rem;
      .seminar__inner {
        .heading {
          &__inner {
            width:       60%;
            margin-left: 4rem;
          }
        }
        .reasons {
          margin-left: 4rem;
          .reasons__inner {
            p {
              font-size: 1.875rem;
            }
          }
        }
      }
    }
    .inform {
      .inform__inner {
        margin-left: 4rem;
        .data {
          margin-bottom: 4rem;
          h3 {
            font-weight: 900;
            font-size:   3rem;
            line-height: 3.75rem;
            color:       $whiteColor;
            span {
              display: inline-block;
            }
          }
        }
        .price {
          width:         40%;
          margin-bottom: 4rem;
        }
        .organization {
          order:         3;
          align-items:   flex-start;
          width:         60%;
          margin-bottom: 4rem;
          h3 {
            text-align: left;
            color:      $whiteColor;
          }
          p {
            text-align:  left;
            color:       $whiteColor;
            font-size:   1.5rem;
            line-height: 2.5rem;
          }
        }
        .place {
          order: 4;
          width: 100%;
        }
      }
    }
  }
}
