@import "font";
@import "variables";
@import "header";
@import "footer";
@import "steps";

@media (any-hover: hover) {
  .button:hover {
    background-color: #825c10;
  }
  .notice {
    &__inner {
      .link:hover {
        top:     10px;
        opacity: 0.7;
      }
    }
  }
}

* {
  outline:     none;
  box-sizing:  border-box;
  margin:      0;
  padding:     0;
  font-family: 'Apercu', sans-serif;
  transition:  all linear 0.3s;
}

html,
body {
  height: 100%;
  width:  100%;
}

section {
  position: relative;
}

a {
  text-decoration: none;
  cursor:          pointer;
}

img {
  width: 100%;
}

body {
  display:        flex;
  flex-direction: column;
  min-height:     100%;
}

main {
  flex:     1 0 auto;
  position: relative;
}

footer {
  flex: 0 0 auto;
}

h1, h2 {
  text-align: center;
}

h2 {
  font-size:   60px;
  line-height: 1;
  font-weight: 500;
}

.d-none {
  display: none !important;
}

.container {
  width:     100%;
  max-width: 1450px;
  padding:   0 15px;
  margin:    0 auto;
  position:  relative;
}

.button {
  display:          flex;
  justify-content:  center;
  align-items:      center;
  width:            100%;
  max-width:        700px;
  border-radius:    10px;
  background-color: #e4a11b;
  color:            #ffffff;
  font-size:        30px;
  line-height:      1;
  font-weight:      700;
  padding:          36px 0;
}

.more {
  color:  #7185ff;
  cursor: pointer;
  &:hover, &:active {
    opacity: .7;
  }
}

#moreText {
  display: none;
}

.stars {
  width:           100%;
  display:         flex;
  justify-content: flex-start;
  align-items:     center;
  .star {
    width:        20%;
    max-width:    26px;
    margin-right: 2px;
  }
}

.notice {
  position:         relative;
  z-index:          5;
  background-color: #1b272f;
  padding:          16px 0 48px 0;
  border-bottom:    solid 8px $white;
  &__inner {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
    .link {
      display:    block;
      top:        0;
      position:   relative;
      margin-top: 48px;
      width:      70px;
      cursor:     pointer;
    }
  }
  h2 {
    margin-bottom:  16px;
    color:          $mainColor;
    text-transform: uppercase;
  }
  p {
    max-width:     1440px;
    text-align:    center;
    display:       block;
    width:         100%;
    font-size:     24px;
    margin-bottom: 0;
    color:         $white;
  }
}

.main {
  .testimonial {
    display:       flex;
    width:         100%;
    margin-bottom: 77px;
    h2 {
      color:         #1b272f;
      text-align:    left;
      margin-bottom: 90px;
    }
    &__recommendation {
      display:     flex;
      align-items: center;
      width:       100%;
    }
    &__name {
      border-right:    #e4a11b solid 2px;
      display:         flex;
      flex-direction:  column;
      align-items:     flex-start;
      justify-content: center;
      min-width:       196px;
      max-width:       196px;
      padding-right:   10px;
      h3 {
        color:       #000000;
        font-size:   36px;
        font-weight: 400;
        line-height: 1;
        margin:      0 0 6px 0;
      }
      p {
        color:       #adadad;
        font-size:   24px;
        font-weight: 400;
        line-height: 1.5;
        margin:      0 0 6px 0;
      }
    }
    &__comment {
      display:         flex;
      align-items:     center;
      justify-content: flex-start;
      padding-left:    3.3%;
      max-width:       1216px;
      p {
        color:       #adadad;
        font-size:   28px;
        font-weight: 300;
        line-height: 1.28;
      }
    }
  }
  .call {
    display:        flex;
    width:          100%;
    padding-top:    200px;
    padding-bottom: 500px;
    position:       relative;
    margin-bottom:  0;
    .back-call {
      position:        absolute;
      object-fit:      cover;
      object-position: top;
      height:          100%;
      z-index:         -1;
      left:            0;
      top:             0;
    }
    h2 {
      color:  #e4a11b;
      margin: 0 0 64px 0;
    }
    .heading {
      text-align:  center;
      color:       #1b272f;
      font-size:   30px;
      line-height: 1.33;
      font-weight: 300;
      margin:      0 0 74px 0;
    }
    &__image {
      width:         100%;
      text-align:    center;
      height:        116px;
      margin-bottom: 72px;
      img {
        height:     100%;
        width:      136px;
        object-fit: contain;
      }
    }
    &__way {
      display:         flex;
      flex-wrap:       wrap;
      justify-content: space-around;
      align-items:     stretch;
      width:           100%;
      h3 {
        width:       100%;
        color:       #1b272f;
        font-size:   30px;
        font-weight: 500;
        line-height: 1.2;
        text-align:  left;
        margin:      0 0 26px 0;
      }
      p {
        width:       100%;
        color:       #adadad;
        font-size:   24px;
        font-weight: 300;
        line-height: 1.25;
        text-align:  left;
      }
    }
    &__wayItem {
      display:         flex;
      flex-direction:  column;
      align-items:     center;
      justify-content: flex-start;
      width:           32%;
    }
  }
  .person {
    position:       relative;
    padding-top:    26px;
    margin-top:     -500px;
    padding-bottom: 310px;
    .container {
      display:         flex;
      flex-direction:  column;
      align-items:     flex-start;
      justify-content: flex-start;
    }
    .person-back {
      position:        absolute;
      object-fit:      fill;
      object-position: top;
      height:          100%;
      left:            0;
      top:             0;
      z-index:         0;
    }
    .photo {
      max-width:     460px;
      margin-bottom: 70px;
    }
    h2 {
      color:      $white;
      margin:     0 0 62px 0;
      text-align: left;
    }
    p {
      color:       #adadad;
      font-size:   30px;
      font-weight: 300;
      line-height: 1.33;
    }
  }
  .with-popup {
    margin-bottom: 34px;
    h2 {
      color:       #1b272f;
      line-height: 1.2;
      max-width:   900px;
      margin:      0 auto 90px auto;
    }
    .popup-wrapper {
      display:         flex;
      flex-wrap:       wrap;
      width:           100%;
      justify-content: space-between;
      align-items:     flex-start;
      .popup {
        display:          flex;
        flex-direction:   column;
        align-items:      center;
        justify-content:  center;
        width:            32%;
        box-shadow:       10px 10px 33px 5px rgba(232, 232, 232, 0.68);
        border-radius:    20px;
        background-color: #ffffff;
        padding:          34px 18px 50px 18px;
        p {
          color:       #000000;
          font-size:   18px;
          font-weight: 300;
          line-height: 1.33;
          margin:      0 0 45px 0;
        }
        .stars {
          padding-top: 23px;
          position:    relative;
          &:before {
            content:          '';
            display:          block;
            width:            117px;
            height:           2px;
            background-color: #e4a11b;
            opacity:          0.3;
            position:         absolute;
            z-index:          0;
            left:             0;
            top:              -2px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 991.98px) {
  h2 {
    font-size: 43px;
  }
  .stars {
    .star {
      max-width: 19px;
    }
  }
  .button {
    font-size: 26px;
    padding:   24px 0;
  }
  .main {
    .testimonial {
      &__comment {
        p {
          font-size: 20px;
        }
      }
      &__name {
        p {
          font-size: 18px;
        }
        h3 {
          font-size: 26px;
        }
      }
    }
    .call {
      padding-top: 100px;
      .heading {
        font-size: 22px;
      }
      &__way {
        h3 {
          font-size: 22px;
        }
        p {
          font-size: 18px;
        }
      }
      &__wayItem {
        width:         48%;
        margin-bottom: 24px;
      }
      &__image {
        margin-bottom: 36px;
      }
    }
    .person {
      .person-back {
        object-fit: cover;
      }
      p {
        font-size: 22px;
      }
      margin-top: -520px;
    }
    .with-popup {
      h2 {
        margin: 0 auto 45px;
      }
      .popup-wrapper {
        .popup {
          width:         100%;
          margin-bottom: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  h2 {
    font-size: 26px;
  }
  .notice {
    padding: 16px 0 16px;
    p {
      font-size: 16px;
    }
    &__inner {
      .link {
        margin-top: 16px;
        width:      40px;
      }
    }
  }
  .stars {
    .star {
      max-width: 12px;
    }
  }
  .button {
    font-size: 16px;
  }
  .main {
    .testimonial {
      margin-bottom: 39px;
      h2 {
        margin: 0 0 43px;
      }
      &__comment {
        padding-left: 0;
        p {
          font-size: 14px;
        }
      }
      &__recommendation {
        flex-direction: column;
        align-items:    flex-start;
      }
      &__name {
        border-right:  none;
        margin-bottom: 14px;
        p {
          font-size: 16px;
        }
        h3 {
          font-size: 18px;
        }
      }
    }
    .call {
      h2 {
        margin-bottom: 32px;
      }
      &__way {
        p {
          font-size:  16px;
          text-align: center;
        }
        h3 {
          text-align: center;
          font-size:  18px;
          margin:     0 0 14px;
        }
      }
      .heading {
        font-size: 16px;
        margin:    0 0 36px 0;
      }
      &__image {
        margin-bottom: 16px;
        height:        50px;
        img {
          width: 70px;
        }
      }
      &__wayItem {
        width: 100%;
      }
    }
    .person {
      padding-bottom: 210px;
      .photo {
        max-width: 260px;
      }
      p {
        font-size: 16px;
      }
      h2 {
        margin: 0 0 30px;
      }
    }
    .with-popup {
      .popup-wrapper {
        .popup {
          padding: 18px 9px 25px;
          p {
            font-size: 16px;
            margin:    0 0 24px;
          }
        }
      }
    }
  }
}