@import "font";
@import "variables";

@media (any-hover: hover) {
  .header .menu ul li a:hover {
    color: #ed4c5b;
  }
  .btn-registration:hover {
    border:           0.15rem solid $whiteColor;
    background-color: $whiteColor;
    &:after {
      height: 95%;
    }
  }
  .main {
    .sevenKeys {
      .sevenKeys__inner {
        .wrapperTimer {
          .wrapperVideo {
            .openVideo {
              &:hover {
                transform: rotate(10deg);
              }
            }
          }
        }
      }
    }
    .seminar {
      &__inner {
        .video {
          &:hover {
            .play {
              display: block;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
  .footer {
    .contacts {
      .facebook {
        &:hover {
          color: $mainColor;
        }
      }
    }
  }
}

* {
  outline:    none;
  box-sizing: border-box;
  transition: .2s ease-in-out;
}

html, body {
  margin:           0;
  padding:          0;
  font-family:      Roboto, sans-serif;
  background-color: #ffded7;
  overflow-x:       hidden;
}

section {
  position: relative;
}

a {
  text-decoration: none;
  cursor:          pointer;
}

iframe {
  border:     none;
  box-shadow: none;
  @media screen and (max-width: 560px) {
    width:  300px;
    height: 170px;
  }
}

.container {
  width:    92%;
  margin:   0 auto;
  position: relative;
}

.btn-registration {
  width:           12.9243rem;
  height:          3.176rem;
  background:      $mainColor;
  border-radius:   6.25rem;
  border:          0.15rem solid $mainColor;
  font-size:       1.25rem;
  color:           $whiteColor;
  text-align:      center;
  display:         flex;
  align-items:     center;
  justify-content: center;
  position:        relative;
  box-sizing:      content-box;
  z-index:         1;
  transition:      all linear 0.2s;
  &:after {
    content:          '';
    width:            95%;
    height:           0;
    border-radius:    6.25rem;
    position:         absolute;
    background-color: #ec4c5c;
    z-index:          -1;
    transition:       height linear 0.2s;
  }
  &:active {
    opacity:          0.7;
    border:           0.15rem solid $whiteColor;
    background-color: $whiteColor;
    &:after {
      height:     95%;
      transition: none;
    }
  }
}

.background {
  position: absolute;
}

.body {
  position: relative;
  overflow: hidden;
  .birdBottom {
    position: absolute;
    z-index:  1;
    bottom:   23%;
    right:    4.5%;
    display:  none;
  }
}

#video {
  display:         none;
  background:      rgba(0, 0, 0, 0.70);
  position:        fixed;
  top:             0;
  left:            0;
  width:           100%;
  height:          100%;
  z-index:         100;
  justify-content: center;
  align-items:     center;
  transition:      0.2s linear;
}

.header {
  position:      relative;
  z-index:       5;
  margin-bottom: 20px;
  .menu {
    padding:     0 1.375rem;
    max-width:   600px;
    margin-left: 0;
    ul {
      display:         flex;
      justify-content: space-around;
      padding:         0;
      margin:          0;
      li {
        list-style:  none;
        font-weight: 500;
        font-size:   0.875rem;
        text-align:  center;
        color:       $mainColor;
        a {
          text-decoration: none;
          color:           $mainColor;
          padding:         2.5rem 0.5rem;
          display:         inline-block;
          &:active {
            color:   #ed4c5b;
            opacity: .7;
          }
        }
      }
    }
  }
}

.main {
  position:       relative;
  display:        flex;
  flex-direction: column;
  .sevenKeys {
    margin-bottom: 14%;
    .sevenKeys__inner {
      display:        flex;
      flex-direction: column;
      h1 {
        display:       inline-block;
        font-style:    normal;
        font-weight:   900;
        font-size:     5.6vw;
        line-height:   5.6vw;
        color:         $mainColor;
        margin-top:    0;
        margin-bottom: 2rem;
        width:         fit-content;
        position:      relative;
        z-index:       1;
        &:before {
          content:          '';
          width:            1rem;
          height:           1rem;
          border-radius:    50%;
          background-color: #ec4c5c;
          position:         absolute;
          z-index:          -1;
          top:              0;
          left:             0;
          animation:        position linear infinite 30s;
        }
        &:after {
          content:         '';
          background:      url("../images/logo.svg") left bottom no-repeat;
          background-size: contain;
          position:        absolute;
          right:           -0.2rem;
          top:             50%;
          height:          100%;
          width:           42%;
          transform:       translate(100%, -50%);
        }
        span {
          font-style:  normal;
          font-weight: 900;
          font-size:   40px;
          line-height: 28px;
          color:       $mainColor;
        }
      }
      .desktop {
        display:  none;
        position: relative;
      }
      .improvements {
        width:          100%;
        position:       relative;
        display:        flex;
        flex-direction: column;
        align-items:    flex-end;
        .pink-up {
          top:     -9rem;
          right:   -7%;
          z-index: 0;
          width:   115%;
        }
        &__inner {
          position: relative;
          width:    12.5rem;
          img {
            width:    80%;
            position: absolute;
            right:    -0.5rem;
            top:      -8rem;
          }
          h3 {
            text-align:  right;
            margin:      0;
            font-weight: bold;
            font-size:   1.25rem;
            line-height: 1.25rem;
            color:       $whiteColor;
          }
          p {
            text-align:  right;
            margin:      0;
            font-weight: 300;
            font-size:   0.875rem;
            line-height: 0.875rem;
            color:       $whiteColor;
          }
        }
      }
      .birds {
        max-width: 10rem;
        width:     30%;
      }
      .wrapperTimer {
        display: flex;
        .timer {
          width:          100%;
          display:        flex;
          flex-direction: column;
          align-items:    flex-start;
          p {
            font-weight: 300;
            font-size:   0.875rem;
            line-height: 0.875rem;
            color:       $mainColor;
            max-width:   150px;
            margin-left: 1rem;
          }
          ul {
            display:         flex;
            justify-content: space-around;
            margin:          0;
            padding:         0;
            list-style:      none;
            color:           $mainColor;
            font-weight:     900;
            font-size:       2rem;
            line-height:     1.25rem;
            text-align:      center;
            position:        relative;
            li {
              list-style: none;
              position:   relative;
              &:before {
                content:     "дн";
                position:    absolute;
                top:         2rem;
                left:        30%;
                font-weight: 300;
                font-size:   0.75rem;
                line-height: 1.4375rem;
                color:       $mainColor;
              }
              &:nth-child(2) {
                &:before {
                  content: 'год';
                }
              }
              &:nth-child(3) {
                &:before {
                  content: 'хв';
                }
              }
              &:nth-child(4) {
                &:before {
                  content: 'сек';
                }
                &:after {
                  content: '';
                }
              }
            }
          }
        }
        .wrapperVideo {
          display:         flex;
          justify-content: flex-end;
          .openVideo {
            position: relative;
            display:  flex;
            width:    6rem;
            z-index:  1;
            img {
              width: 2rem;
            }
            h5 {
              font-weight: bold;
              text-align:  right;
              color:       $whiteColor;
              font-size:   0.75rem;
              line-height: 0.875rem;
            }
            &:active {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
  .seminar {
    margin-bottom: 0;
    &__inner {
      display:        flex;
      flex-direction: column;
      align-items:    center;
      .heading {
        order:   3;
        display: flex;
        width:   100%;
        &__inner {
          width:          90%;
          display:        flex;
          flex-direction: column;
          h2 {
            font-weight: bold;
            font-size:   1.875rem;
            line-height: 1.875rem;
            color:       $mainColor;
          }
        }
        .birds {
          display: none;
        }
      }
      .reasons {
        order:         4;
        display:       flex;
        margin-bottom: 1.5rem;
        width:         100%;
        ul {
          width:        100%;
          padding-top:  1.125rem;
          padding-left: 1.5rem;
          li {
            position:      relative;
            list-style:    none;
            margin-top:    0;
            margin-bottom: 1rem;
            font-size:     1.125rem;
            line-height:   1.25rem;
            color:         $mainColor;
            &:before {
              content:          "";
              height:           0.12rem;
              width:            1rem;
              background-color: $mainColor;
              position:         absolute;
              top:              50%;
              left:             -1.5rem;
            }
            &:nth-last-child(1) {
              margin-bottom: 0;
            }
          }
        }
      }
      .btn-registration {
        order:  2;
        margin: 0 auto 1.6875rem auto;
      }
      .video {
        order:            1;
        margin-bottom:    1.5625rem;
        background-color: transparent;
        position:         relative;
        cursor:           pointer;
        img {
          width:         100%;
          height:        100%;
          border-radius: 1.5rem;
        }
        .play {
          position: absolute;
          top:      38%;
          left:     38%;
          width:    24%;
          height:   24%;
          display:  none;
        }
        &:active {
          opacity: 0.7;
        }
      }
    }
  }
  .leading {
    display:       flex;
    width:         100%;
    margin-bottom: 10rem;
    .leading__inner {
      position:       relative;
      display:        flex;
      flex-direction: column;
      align-items:    center;
      width:          100%;
      h2 {
        margin:      0;
        font-weight: bold;
        font-size:   1.875rem;
        line-height: 3.6875rem;
        text-align:  center;
        color:       $mainColor;
      }
      .author {
        display:     flex;
        align-items: center;
        img {
          border-radius: 50%;
          width:         30%;
          margin-right:  1rem;
        }
        p {
          font-weight: 300;
          font-size:   1.125rem;
          line-height: 1.75rem;
          color:       $mainColor;
          span {
            display:     block;
            font-weight: normal;
            font-size:   1.25rem;
            line-height: 2.375rem;
            color:       $mainColor;
          }
        }
      }
      .bear {
        position: absolute;
        bottom:   -11rem;
        right:    2rem;
        width:    6rem;
        display:  none;
      }
      .without {
        display: block;
      }
      .heart {
        position:  absolute;
        z-index:   0;
        width:     1rem;
        bottom:    -6rem;
        right:     3.5rem;
        animation: heart 5s linear infinite;
      }
    }
  }
  .inform {
    margin-bottom: 2.5rem;
    .speck {
      width:     2rem;
      position:  absolute;
      z-index:   0;
      top:       0;
      right:     0;
      animation: speck linear 30s infinite;
    }
    .inform__inner {
      display:   flex;
      flex-wrap: wrap;
      div {
        margin-bottom: 2rem;
      }
      div:nth-child(even) {
        align-items: flex-end;
        h3 {
          text-align: right;
        }
        p {
          text-align: right;
        }
      }
      h3 {
        font-weight: bold;
        font-size:   1.5rem;
        line-height: 1.875rem;
        color:       $mainColor;
        margin:      0;
        position:    relative;
        z-index:     1;
      }
      p {
        font-size:   1.125rem;
        line-height: 1.5rem;
        color:       $mainColor;
        margin:      0;
        position:    relative;
        z-index:     1;
      }
      .data {
        width:          100%;
        display:        flex;
        flex-direction: column;
        margin-bottom:  6.75rem;
        position:       relative;
        .pink-down {
          top:     -8rem;
          left:    -5%;
          z-index: 0;
          width:   18rem
        }
        .cupidon {
          position: absolute;
          width:    7rem;
          z-index:  1;
          top:      6rem;
        }
        h3 {
          color:    $whiteColor;
          position: relative;
          span {
            display: block;
          }
        }
        p {
          color:    $whiteColor;
          position: relative;
        }
        .p__inner {
          font-weight: 300;
          font-size:   1rem;
          line-height: 1.25rem;
          color:       $whiteColor;
          position:    relative;
        }
      }
      .place {
        display:        flex;
        width:          100%;
        margin-bottom:  1.3125rem;
        flex-direction: column;
        position:       relative;
        z-index:        1;
        margin-left:    10%;
        h3 {
          display:        flex;
          flex-direction: column;
        }
      }
      .organization {
        display:        flex;
        width:          100%;
        flex-direction: column;
        position:       relative;
        .speck {
          display: none;
        }
      }
      .price {
        width:          100%;
        display:        flex;
        flex-direction: column;
        position:       relative;
      }
      .btn-registration__wrapper {
        display: none;
      }
    }
  }
}

.footer {
  position: relative;
  width:    100%;
  padding:  0 0 8.6875rem 0;
  z-index:  5;
  &:before, &:after {
    content:         '';
    background:      url("../images/man.png") no-repeat right bottom;
    background-size: 100%;
    position:        absolute;
    z-index:         -1;
    bottom:          0;
    right:           0;
    width:           225px;
    height:          100%;
  }
  &:after {
    background:      url("../images/ellipse.png") no-repeat left bottom;
    background-size: 100%;
    width:           40%;
    max-width:       200px;
    right:           inherit;
    left:            0;
  }
  .btn-registration__wrapper {
    .btn-registration {
      margin: 0 auto 3rem auto;
    }
  }
  .contacts {
    h3 {
      font-weight:   bold;
      font-size:     1.5rem;
      line-height:   1.25rem;
      text-align:    left;
      color:         $mainColor;
      margin-bottom: 1rem;
      width:         60%;
    }
    .tel {
      font-size:     1.5rem;
      line-height:   2.375rem;
      color:         $mainColor;
      margin-bottom: 0;
      margin-top:    0;
      display:       block;
      cursor:        pointer;
      &:hover {
        color: #ed4c5b;
      }
      &:active {
        opacity: .8;
        color:   #ed4c5b;
      }
    }
    .facebook {
      font-size:            1.125rem;
      line-height:          1.875rem;
      text-decoration-line: underline;
      color:                #00A3FF;
      cursor:               pointer;
      &:active {
        opacity: 0.7;
        color:   $mainColor;
      }
    }
  }
}


@keyframes heart {
  0% {
    bottom: -6rem;
    right:  3.5rem;
  }
  50% {
    bottom: -4rem;
    right:  2.5rem;
  }
  100% {
    bottom: -6rem;
    right:  3.5rem;
  }
}

@media screen and(min-width: 374px) {
  .main {
    .sevenKeys {
      margin-bottom: 4rem;
      .sevenKeys__inner {
        h1 {
          margin-bottom: 4rem;
        }
        .improvements {
          .pink-up {
            top:     -11.5rem;
            right:   -5%;
            z-index: 0;
            width:   26rem;
          }
          &__inner {
            position: relative;
            width:    12.5rem;
            img {
              width:    100%;
              position: absolute;
              right:    0;
              top:      -10rem;
            }
          }
        }
        .openVideo {
          img {
            width: 3rem;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 540px) {
  .main {
    .leading {
      .leading__inner {
        .bear {
          width: 10rem;
        }
        .heart {
          position: absolute;
          z-index:  0;
          width:    2rem;
          bottom:   -3rem;
          right:    4rem;
        }
      }
    }
  }

  @keyframes heart {
    0% {
      bottom: -3rem;
      right:  4rem;
    }
    50% {
      bottom: 0;
      right:  3rem;
    }
    100% {
      bottom: -3rem;
      right:  4rem;
    }
  }
}

@media screen and(min-width: 834px) {
  .body {
    .birdBottom {
      display: block;
    }
  }
  .header {
    margin-bottom: 100px;
    .menu {
      margin-left: 10%;
      ul {
        li {
          font-size: 1.25rem;
        }
      }
    }
  }
  .main {
    .sevenKeys {
      margin-bottom: -10rem;
      .sevenKeys__inner {
        h1 {
          font-weight:   900;
          color:         $mainColor;
          margin-bottom: 9.1875rem;
          order:         1;
          &:before {
            width:  2rem;
            height: 2rem;
          }
          &:after {
            right: -0.5rem;

          }
          span {
            font-weight: 900;
            font-size:   4rem;
            line-height: 3.125rem;
            color:       $mainColor;
          }
        }
        .improvements {
          order: 2;
          .pink-up {
            top:   -27rem;
            width: 60rem;
          }
          &__inner {
            width: 31rem;
            .sevenKeys__img {
              width: 80%;
              top:   -25rem;
            }
            h3 {
              font-size:   2.25rem;
              line-height: 3rem;
            }
            p {
              font-size:   1.6875rem;
              line-height: 2.5rem;
            }
          }
        }
        .wrapperTimer {
          order:          3;
          flex-direction: column;
          .timer {
            align-items: flex-end;
            order:       2;
            position:    relative;
            &__inner {
              display:        flex;
              flex-direction: column;
              align-items:    flex-start;
              p {
                font-weight:   300;
                font-size:     1.125rem;
                line-height:   1.5rem;
                color:         $whiteColor;
                max-width:     200px;
                margin-bottom: 0;
                text-align:    left;
              }
              ul {
                font-weight: 900;
                font-size:   2.25rem;
                line-height: 3.6875rem;
                text-align:  center;
                color:       $whiteColor;
                li:before {
                  top:         3rem;
                  color:       $whiteColor;
                  font-weight: 300;
                  font-size:   1.125rem;
                  line-height: 2.3125rem;
                }
              }
            }
          }
          .wrapperVideo {
            .openVideo {
              width: 15rem;
              order: 1;
              img {
                width: 5rem;
              }
              h5 {
                font-size:   1.5rem;
                line-height: 1.875rem;
              }
            }
          }
        }
        .birds {
          display: none;
        }
      }
    }
    .leading {
      margin-bottom: 20rem;
      .leading__inner {
        .bear {
          width:     15rem;
          max-width: 30rem;
          right:     30%;
          bottom:    -15rem;
          display:   block;
        }
        .without {
          display: none;
        }
        .heart {
          display: none;
        }
        h2 {
          font-weight: 900;
          font-size:   3rem;
        }
        .author {
          p {
            font-size:   1.5rem;
            line-height: 2.5rem;
            span {
              font-size: 2.25rem;
            }
          }
          img {
            margin-right: 2rem;
            width:        10rem;
          }
        }
      }
    }
    .seminar {
      margin-bottom: 4.625rem;
      &__inner {
        flex-direction: column;
        flex-wrap:      wrap;
        align-items:    flex-start;
        .video {
          order:         1;
          width:         50%;
          margin-bottom: 4.5rem;
        }
        .btn-registration {
          order:  2;
          margin: 0 auto 3.3125rem auto;
        }
        .heading {
          order: 3;
          &__inner {
            width:           100%;
            flex-direction:  row;
            justify-content: space-between;
            h2 {
              width:       70%;
              margin-top:  0;
              font-style:  normal;
              font-weight: 900;
              font-size:   3rem;
              line-height: 3.6875rem;
              order:       1;
            }
          }
          .birds {
            display:   block;
            width:     9.625rem;
            order:     2;
            animation: birds 10s linear infinite;
          }
        }
        .reasons {
          order: 4;
          ul {
            li {
              font-style:    normal;
              font-weight:   normal;
              font-size:     1.5rem;
              line-height:   2.25rem;
              margin-bottom: 2.5rem
            }
          }
        }
      }
    }
    .inform {
      margin-bottom: 13.125rem;
      .inform__inner {
        div:nth-child(even) {
          align-items: flex-start;
          h3 {
            text-align: left;
          }
          p {
            text-align: left;
          }
        }
        h3 {
          font-weight: bold;
          font-size:   2.25rem;
          line-height: 2.5rem;
          color:       $whiteColor;
        }
        p {
          font-size:   1.5rem;
          line-height: 2.5rem;
          color:       $whiteColor;
        }
        .data {
          order:         1;
          margin-bottom: 1.625rem;
          .pink-down {
            top:   -15rem;
            width: 41rem;
          }
          .cupidon {
            top:   -12rem;
            width: 10rem;
          }
          h3 {
            margin-bottom: 1.25rem;
            span {
              display: block;
            }
          }
          p {
            font-size:   1.875rem;
            line-height: 1.75rem;
            color:       $whiteColor;
          }
          .p__inner {
            font-weight: 300;
            font-size:   1.25rem;
            line-height: 2.5rem;
            color:       $whiteColor;
          }
        }
        .price {
          order:         2;
          margin-bottom: 2rem;
        }
        .place {
          width:       50%;
          order:       3;
          margin-left: 0;
          .speck {
            display: none;
          }
          h3 {
            display: inline-block;
          }
          p {
            padding-right: 4.375rem;
          }
        }
        .organization {
          justify-content: center;
          align-items:     center;
          order:           4;
          width:           50%;
          .speck {
            width:   4rem;
            display: block;
          }
          h3 {
            text-align: center;
            color:      $mainColor;
          }
          p {
            font-size:   1.125rem;
            line-height: 1.875rem;
            color:       $mainColor;
          }
        }
      }
    }
  }
  .footer {
    padding: 0 0 1rem;
    .btn-registration {
      display: flex;
      &__wrapper {
        padding: 2% 20% 16%;
      }
    }
    &:before {
      width:     calc(100% / 3);
      max-width: 600px;
    }
    &:after {
      display: none;
    }
    .contacts {
      text-align: center;
      h3 {
        width:      100%;
        text-align: center;
      }
    }
  }
}

@media screen and(min-width: 1030px) {
  .main {
    .sevenKeys {
      .sevenKeys__inner {
        .improvements {
          .pink-up {
            top: -27rem;
          }
        }
      }
    }
    .inform {
      .inform__inner {
        .data {
          .pink-down {
            top:   -21rem;
            width: 48rem;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 1440px) {
  .body {
    .birdBottom {
      bottom: 12%;
    }
  }
  .header {
    margin-bottom: 10rem;
    .menu {
      ul {
        li {
          font-size: 1.5rem;
        }
      }
    }
  }
  .btn-registration {
    width:       19.8125rem;
    height:      4.875rem;
    font-size:   1.5rem;
    line-height: 3.6875rem;
  }
  .main {
    .sevenKeys {
      margin-bottom: -15rem;
      .sevenKeys__inner {
        h1 {
          font-weight:   900;
          color:         $mainColor;
          margin-bottom: 0;
          &:before {
            width:  3rem;
            height: 3rem;
          }
          span {
            font-weight: 900;
            color:       $mainColor;
            font-size:   6rem;
            line-height: 7rem;
            text-align:  center;
          }
        }
        .desktop {
          display:       inline;
          font-weight:   300;
          font-size:     1.875rem;
          line-height:   1.875rem;
          color:         $mainColor;
          margin-bottom: 12.75rem;
          order:         2;
        }
        .improvements {
          padding-right: 8rem;
          order:         3;
          .pink-up {
            top:   -45rem;
            width: 90rem;
          }
          &__inner {
            width: 42.5rem;
            .sevenKeys__img {
              width: 100%;
              top:   -38rem;
            }
            h3 {
              font-size:   3rem;
              line-height: 3.125rem;
            }
            p {
              font-size:   2.25rem;
              line-height: 3.125rem;
            }
          }
        }
        .wrapperTimer {
          .timer {
            &__inner {
              p {
                font-size:     2.25rem;
                line-height:   2.25rem;
                text-align:    left;
                margin-bottom: 3rem;
                margin-left:   1rem;
                max-width:     350px;
              }
              ul {
                li {
                  font-size:   4.5rem;
                  line-height: 3.6875rem;
                  &:before {
                    font-size:   2.25rem;
                    line-height: 3.6875rem;
                    left:        20%;
                    top:         5rem;
                  }
                }
              }
            }
          }
          .wrapperVideo {
            padding-right: 8rem;
            .openVideo {
              width: 20rem;
              h5 {
                font-size:   2.25rem;
                line-height: 3rem;
              }
              img {
                width: 10rem;
              }
            }
          }
        }
      }
    }
    .leading {
      margin-bottom: 17.75rem;
      .leading__inner {
        margin-left: 36.3%;
        align-items: flex-start;
        h2 {
          margin-bottom: 60px;
        }
        .author {
          min-width: 51%;
          img {
            margin-right: 4rem;
            width:        15rem;
          }
        }
        .bear {
          bottom:    -20rem;
          width:     20rem;
          max-width: 30rem;
          left:      30%;
        }
      }
    }
    .seminar {
      margin-bottom: 4.9375rem;
      &__inner {
        .heading {
          justify-content: space-between;
          .birds {
            width: 15rem;
          }
          &__inner {
            width:       60%;
            margin-left: 4rem;
            img {
              display: none;
            }
            h2 {
              width: 100%;
            }
          }
        }
        .reasons {
          margin-left: 4rem;
          ul {
            display:         flex;
            flex-wrap:       wrap;
            justify-content: space-between;
            li {
              font-size: 1.875rem;
              width:     100%;
            }
          }
        }
      }
    }
    .inform {
      margin-bottom: 6.75rem;
      .inform__inner {
        margin-left: 4rem;
        .data {
          margin-bottom: 4rem;
          .pink-down {
            left:  -10%;
            top:   -38rem;
            width: 90%;
          }
          .cupidon {
            top:   -28rem;
            width: 20rem;
          }
          h3 {
            font-weight: 900;
            font-size:   3rem;
            line-height: 3.75rem;
            color:       $whiteColor;
            span {
              display: inline-block;
            }
          }
        }
        .price {
          width:         40%;
          margin-bottom: 4rem;
        }
        .organization {
          order:         3;
          align-items:   flex-start;
          width:         60%;
          margin-bottom: 4rem;
          .speck {
            display: none;
          }
          h3 {
            text-align: left;
            color:      $whiteColor;
          }
          p {
            text-align:  left;
            color:       $whiteColor;
            font-size:   1.5rem;
            line-height: 2.5rem;
          }
        }
        .place {
          order:         4;
          width:         100%;
          margin-bottom: 6rem;
          .speck {
            width:   6rem;
            display: block;
          }
        }
        .btn-registration__wrapper {
          display: block;
          order:   5;
        }
      }
    }
  }
  .footer {
    height: 33rem;

    .btn-registration__wrapper {
      .btn-registration {
        display: none;
      }
    }
  }
}

@media screen and(min-width: 1540px) {
  .main {
    .inform {
      .inform__inner {
        .data {
          .pink-down {
            width: 83%;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 1740px) {
  .main {
    .inform {
      .inform__inner {
        .data {
          .pink-down {
            width: 78%;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 1830px) {
  .header {
    .menu {
      max-width: 900px;
    }
  }
  .main {
    .sevenKeys {
      margin-bottom: -12rem;
    }
    .inform {
      .inform__inner {
        .data {
          .pink-down {
            top:   -47rem;
            width: 80%;
          }
        }
      }
    }
    .leading .leading__inner h2 {
      margin-top: 100px;
    }
  }
}

@media screen and(min-width: 2040px) {
  .main {
    .sevenKeys {
      margin-bottom: -4rem;
      .sevenKeys__inner {
        .improvements {
          .pink-up {
            width: 85%;
          }
        }
      }
    }
    .inform {
      .inform__inner {
        .data {
          .pink-down {
            width: 75%;
          }
        }
      }
    }
  }
}

@media screen and(min-width: 2300px) {
  .main {
    .sevenKeys {
      margin-bottom: 0;
      .sevenKeys__inner {
        .improvements {
          .pink-up {
            width: 85%;
          }
        }
      }
    }
    .inform {
      .inform__inner {
        .data {
          .pink-down {
            width: 70%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .header .menu ul li a {
    padding: 1.5rem .5rem 2.5rem .5rem;
  }
  .main {
    .seminar__inner {
      .heading__inner {
        h2 {
          margin: 0;
        }
      }
    }
    .inform {
      .inform__inner {
        .price {
          margin-bottom: 0;
        }
        .data p {
          font-size: 20px;
        }
      }
    }
  }
  .footer .contacts {
    .tel {
      font-size:   18px;
      line-height: 38px;
    }
    h3 {
      margin-bottom: 0;
      font-size:     24px;
      line-height:   24px;
    }
  }

}

@keyframes position {
  0% {
    top:  0;
    left: 0;
  }
  10% {
    top:  40%;
    left: 50%;
  }
  20% {
    top:  0;
    left: 100%;
  }
  30% {
    top:  50%;
    left: 100%;
  }
  40% {
    top:  100%;
    left: 50%;
  }
  50% {
    top:  150%;
    left: 0;
  }
  60% {
    top:  120%;
    left: -10%;
  }
  70% {
    top:  90%;
    left: 0;
  }
  80% {
    top:  60%;
    left: 40%;
  }
  90% {
    top:  30%;
    left: 20%;
  }
  100% {
    top:  0;
    left: 0;
  }
}

@keyframes speck {
  0% {
    top:       0;
    right:     0;
    transform: rotate(0);
  }
  10% {
    top:       40%;
    right:     15%;
    transform: rotate(72deg);
  }
  20% {
    top:       0;
    right:     30%;
    transform: rotate(144deg);
  }
  30% {
    top:       80%;
    right:     30%;
    transform: rotate(216deg);
  }
  40% {
    top:       260%;
    right:     15%;
    transform: rotate(288deg);
  }
  50% {
    top:       450%;
    right:     30%;
    transform: rotate(360deg);
  }
  60% {
    top:       120%;
    right:     20%;
    transform: rotate(432deg);
  }
  70% {
    top:       90%;
    right:     30%;
    transform: rotate(504deg);
  }
  80% {
    top:       60%;
    right:     15%;
    transform: rotate(576deg);
  }
  90% {
    top:       30%;
    right:     10%;
    transform: rotate(648deg);
  }
  100% {
    top:       0;
    right:     0;
    transform: rotate(720deg);
  }
}

@keyframes birds {
  0% {
    transform:        rotate(0);
    transform-origin: 100% 0;
  }
  50% {
    transform:        rotate(-15deg);
    transform-origin: 100% 0;
  }
  100% {
    transform:        rotate(0);
    transform-origin: 100% 0;
  }
}